*, *::before, *::after {
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    background-image: url(./public/Sintonia\ -\ BG-01.png);
    background-color: #010101;
    background-size: cover;
    background-repeat: no-repeat;
}


.boardgame{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    transform-origin: center center;
}

.table{
    position: absolute;
    resize: horizontal;
    /* z-index: 1; */
}

.board{
    width: 650px;
    margin-top: 60px;
}

.wheel{
    z-index: 1;
    margin-bottom: 180px;
}

.item{
    position: absolute;
}

#item-0{
    translate: -50% -52%;
    z-index: -6;
    width: 390px;
}

#item-1{
    z-index: -7;
    translate: -50% -54%;
    width: 420px;
}
#item-2{
    z-index: -4;
    translate: -50% -55%;
    width: 390px;
}
#item-3{
    z-index: -3;
    translate: -45% -55%;
    width: 390px;
}
#item-4{
    z-index: -2;
    translate: -50% -55%;
    width: 450px;
    /* cursor: pointer; */
}
#item-5{
    z-index: -1;
    translate: -50% -20%;
    width: 380px;
}
#item-6{
    z-index: -0;
    translate: -50% -55%;
    width: 70px;
}


.blind-cover {
    transition: transform 0.5s ease-in-out;
}